/**admin setting **/
.form-table .color {height: 40px; width: 100px; }
.watchlist-admin {background: #fff none repeat scroll 0 0; padding: 30px; }
.wwn-watchlist-admin .watchlist-admin .form-table textarea {width: 100%; }
.wwn-watchlist-admin .image_preview {background: #f3f3f3 none repeat scroll 0 0; border: thin solid #ccc; margin-bottom: 15px; max-height: 200px; max-width: 500px; padding: 5px; }